.header {
  text-align: center;
  margin-bottom: 50px;
}
.banner-content {
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 1320px;
  height: 600px;
  padding: 230px 340px 170px 340px;
  color: white;
  text-align: center;

  width: 80%;
  margin: 0 auto;
}
.banner-content > h3 {
  text-align: center;

  font-size: 32px;

  font-weight: 400;
  margin-bottom: 0;
}
.banner-content > h1 {
  text-align: center;

  font-size: 72px;

  font-weight: 900;
  line-height: 95px;
}
.banner-discount {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.banner-discount > h1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}
.banner-discount > h4 {
  color: #f00;

  font-size: 24px;

  font-weight: 500;
  margin-bottom: 5px;
}
.banner-discount > h2 {
  color: #070211;

  font-size: 48px;

  font-weight: 700;
  margin-top: 0;
}
.banner-welcome {
  background-image: url("../resources/Group\ 70.png"),
    url("../resources/Vectorrr.png");

  background-repeat: no-repeat;
  background-position: center, center;
  width: 1320px;
  height: 800px;
  text-align: center;
  color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 100px;
}
.banner-welcome > h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  padding: 200px 160px 70px 0;
  margin-bottom: 0;
  margin-top: 20px;
}
.place-info {
  width: 80%;
  margin: 0 auto;
  background: linear-gradient(to bottom, #f3bb67, #ffffff);

  height: 400px;
  flex-shrink: 0;
  border-radius: 10px;
  text-align: center;
  padding-top: 80px;
  font-weight: 600;
  font-size: 32px;
  width: 1320px;
}
.info-title {
  color: #f00;
}
.coming {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.coming-box {
  text-align: left;
  margin: 0 5px;
  padding: 20px;
  width: 370px;
}
.background-images {
  background-image: url("../resources/Rectangle\ 2.png"),
    url("../resources/Group\ 75.png"), url("../resources/Rectangle\ 1.png"),
    url("../resources/Group\ 44.png");
  background-position: bottom center, left center, right center, top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: 29%, 20%, 30%, 50%;
  text-align: center;
  font-size: 30px;
  width: 80%;
  margin: 100px auto;
}
.holiday {
  color: rgb(255, 68, 0);
}
.gifts {
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.products {
  display: flex;
}
.products-column {
  margin: 10px 0;
}
.products img {
  margin: 10px 0;
}
.newsletter {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.05);
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.newsletter {
  padding: 50px 100px;
}
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-group input {
  padding: 8px;
  border: 0 solid #ccc;
  border-radius: 50px 0 0 50px;
  margin-right: 0;
}

.input-group button {
  padding: 8px 12px;
  border: none;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: white;

  cursor: pointer;
}
footer {
  background-color: #070211;
  color: white;
  width: 80%;
  margin: 0 auto;

  border-radius: 10px;
}
footer .contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  padding: 80px 100px;
}
.icons {
  text-align: center;
}
.icons > img {
  text-align: center;
  margin: 0 10px;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.JOIN {
  padding: 12px 16px;
  border: none;
  border-radius: 20px;
  background: #f00;
  color: white;

  cursor: pointer;
}
