.header {
  text-align: center;
  margin-bottom: 50px;
}
.banner-content {
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 1320px;
  height: 600px;
  padding: 230px 340px 170px 340px;
  color: white;
  text-align: center;

  width: 80%;
  margin: 0 auto;
}
.banner-content > h3 {
  text-align: center;

  font-size: 32px;

  font-weight: 400;
}
.banner-content > h1 {
  text-align: center;

  font-size: 72px;

  font-weight: 900;
  line-height: 95px;
}
.banner-discount {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.banner-discount > h1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}
.banner-discount > h4 {
  color: #f00;

  font-size: 24px;

  font-weight: 500;
  margin-bottom: 5px;
}
.banner-discount > h2 {
  color: #070211;

  font-size: 48px;

  font-weight: 700;
  margin-top: 0;
}
.banner-welcome {
  background-image: url("../resources/Group\ 70.png"),
    url("../resources/Vectorrr.png");

  background-repeat: no-repeat;
  background-position: bottom, center;
  width: 1320px;
  height: 600px;
  text-align: center;
  color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}
.banner-welcome > h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  padding: 100px 160px 70px 0;
  margin-bottom: 0;
}
.place-info {
  width: 80%;
  margin: 0 auto;
  background: linear-gradient(to bottom, #f3bb67, #ffffff);

  height: 400px;
  flex-shrink: 0;
  border-radius: 10px;
  text-align: center;
  padding-top: 80px;
  font-weight: 600;
  font-size: 32px;
  width: 1320px;
}
.info-title {
  color: #f00;
}
.coming {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.coming-box {
  text-align: left;
  margin: 0 10px;
  padding: 20px;
  width: 370px;
}
